tensorflow==1.12.0
torch==0.4.1
atari-py==0.1.6
box2d-py==2.3.5
gin-config==0.1.1.2
glfw==1.7.0
gym==0.10.9
ipykernel<5.0.0
jupyter==1.0.0
matplotlib==3.0.0
mlagents==0.5.0
numpy==1.14.5
opencv-python==3.4.3.18
pandas==0.23.4
Pillow==9.0.0
progressbar==2.5
progressbar2==3.38.0
PyOpenGL==3.1.0
pytest==3.8.1
scikit-image==0.14.1
scipy==1.1.0
tensorboardX==1.1
torchvision==0.2.1
tqdm==4.26.0
